body, html, md-content {
    color: #d2d1d1;
}

.hp-thread-name {
    color: #5f9ea0;
    font-weight: bold;
    font-size: 1.2em;
}

/*todo currently not in use, remove?*/
md-tooltip .md-content {
    height: auto;
}

.treecontrol-container {
    overflow-x: scroll;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

md-icon.small {
    height: 13px;
    width: 13px;
}

treecontrol {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: 'Source Code Pro', monospace;
    font-size: 13px;
    text-decoration: none;
}

treecontrol ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}

treecontrol li {
    position: relative;
    padding: 0 0 0 20px;
    line-height: 20px;
    white-space: nowrap;
}

treecontrol li span {
    outline: none;
}

treecontrol li.tree-expanded i.tree-branch-head, treecontrol li.tree-collapsed i.tree-branch-head {
    display: inline;
}

treecontrol li .hp-tree-handle {
    cursor: pointer;
}

treecontrol li .tree-label {
    cursor: pointer;
    display: inline;
    white-space: nowrap;
    outline: none;
}

treecontrol li .tree-selected {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2)
}

.hp-invocation-duration {
    display: inline-block;
    padding: 1px 3px;
    background-color: #698788;
    box-sizing: border-box;
    line-height: 13px;
    color: rgb(47, 45, 45);
    border-radius: 1px;
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;
}