<div ng-controller="ProfilerCtrl as profilerCtrl" layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools" ng-if="!profilerCtrl.isProfiled()">
      <h2>
        <span>hoopoe-profiler</span>
      </h2>
    </div>

    <div class="md-toolbar-tools" ng-if="profilerCtrl.isProfiled()">
      <md-button class="md-raised md-primary md-hue-1" ng-click="profilerCtrl.startOver()">
        Start over
      </md-button>
      <span flex></span>

      <div ng-if="profilerCtrl.isSearchingAttributes()" class="hp-search-panel">
        <span ng-if="profilerCtrl.currentSearch.totalFound == 0">
          No attributes found.
        </span>
        <span ng-if="profilerCtrl.currentSearch.totalFound > 0">
          <span>
          {{ profilerCtrl.currentSearch.currentPosition }} of {{ profilerCtrl.currentSearch.totalFound}}
          </span>

          <md-button ng-click="profilerCtrl.currentSearch.next()">
            Next
          </md-button>
        </span>

        <md-button ng-click="profilerCtrl.cancelSearch()">
          Cancel
        </md-button>
      </div>

      <div ng-if="!profilerCtrl.isSearchInProgress()">
        <md-button class="md-icon-button"
                   ng-click="profilerCtrl.searchAttributes()"
                   aria-label="search attributes">
          <md-icon md-svg-icon="attributes"></md-icon>
        </md-button>
      </div>
    </div>

  </md-toolbar>
  <md-content layout="column" flex>

    <div class="hp-center-banner" ng-if="!profilerCtrl.isProfiled()">
      <div ng-if="profilerCtrl.isInitializing()">
        Initializing...
      </div>

      <div ng-if="profilerCtrl.isNotYetProfiled()">
        We haven't profiled anything yet
      </div>
      <div ng-if="profilerCtrl.isNothingProfiled()">
        It looks like nothing is profiled, methods were either too fast or not called..
      </div>
      <md-button class="md-primary md-raised"
                 ng-if="profilerCtrl.isNotYetProfiled() || profilerCtrl.isNothingProfiled()"
                 ng-click="profilerCtrl.startProfiling()">
        Start profiling
      </md-button>

      <div ng-if="profilerCtrl.isInProgress()">
        We are recording application activity. Stop us when you are done
      </div>
      <md-button class="md-primary md-raised"
                 ng-if="profilerCtrl.isInProgress()"
                 ng-click="profilerCtrl.stopProfiling()">
        Finish profiling
      </md-button>

      <div ng-if="profilerCtrl.isFinalizing()">
        Finalizing...
      </div>

      <div ng-if="profilerCtrl.isError()">
        Oops, something went wrong... We would appreciate if you could report a problem
        at <a href="https://github.com/orange-buffalo/hoopoe-profiler/issues" target="_blank">our issue tracker</a>.
        Please provide the output of JS console.
      </div>
    </div>

    <div class="hp-invocations-tree-container" flex ng-if="profilerCtrl.isProfiled()">
      <treecontrol tree-model="profilerCtrl.invocationsTree.rootNodes"
                   expanded-nodes="profilerCtrl.invocationsTree.expandedNodes"
                   on-node-toggle="profilerCtrl.invocationsTree.onNodeToggle(node, expanded)"
                   selected-node="profilerCtrl.invocationsTree.selectedNode"
                   options="profilerCtrl.invocationsTree.options">
        <span class="hp-badge hp-thread-name"
              ng-if="node.threadName"
              ng-bind="node.threadName"></span>
        <span ng-dblclick="profilerCtrl.showMethodDetailsPopup()">
          {{node.className}}.{{node.methodSignature}}
        </span>
        <span class="hp-badge hp-duration"
              ng-bind="helperService.getSmartDuration(node.totalTimeInNs)"></span>
        <span class="hp-badge hp-duration"
              ng-bind="helperService.getSmartDuration(node.ownTimeInNs)"></span>
        <span class="hp-badge hp-invocations-count">{{ node.invocationsCount }} inv</span>
        <span class="hp-badge hp-attribute"
              ng-repeat="attr in node.attributes">
          {{attr.name}}
        </span>
        <span class="hp-badge hp-child-attribute"
              ng-repeat="(key, summary) in node.childrenAttributesSummary">
          {{summary.count}} {{summary.name}}
        </span>
      </treecontrol>
    </div>

  </md-content>
</div>

<script type="text/ng-template" id="invocations-tree-template.html">
  <ul>
    <li ng-repeat="node in node.children"
        set-node-to-data>

      <span ng-click="selectNodeHead(node)"
            class="hp-tree-handle"
            ng-show="!isLeaf(node)">
         <md-icon md-svg-icon="{{nodeExpanded() ? 'minus' : 'plus'}}"
                  class="small">
         </md-icon>
      </span>

      <md-icon md-svg-icon="empty-square"
               ng-show="isLeaf(node)"
               class="small">
      </md-icon>

      <div class="tree-label"
           ng-class="[selectedClass(), unselectableClass()]"
           ng-click="selectNodeLabel(node)"
           tree-transclude></div>
      <treeitem ng-if="nodeExpanded()"></treeitem>
    </li>
  </ul>
</script>