<div layout-fill layout="column" ng-controller="InvocationDetailsCtrl as invocationDetails">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button aria-label="Go Back">
        Go Back
      </md-button>
      <h2>
        <span>Toolbar with Standard Buttons</span>
      </h2>
    </div>
  </md-toolbar>
  <md-content flex layout="column">
    <div class="treecontrol-container" flex>
      <treecontrol tree-model="invocationDetails.data"
                   expanded-nodes="invocationDetails.expandedInvocations"
                   on-node-toggle="invocationDetails.onInvocationNodeToggle(node, expanded)"
                   selected-node="invocationDetails.selectedInvocation"
                   on-selection="invocationDetails.selectMethod(node, selected)"
                   options="invocationDetails.invocationsTreeOptions">
        {{node.className}}.{{node.methodSignature}}
        <span class="hp-badge hp-duration"
              ng-bind="helperService.getSmartDuration(node.totalTimeInNs)"></span>
        <span class="hp-badge hp-duration"
              ng-bind="helperService.getSmartDuration(node.ownTimeInNs)"></span>
        <span class="hp-badge hp-invocations-count">{{ node.invocationsCount }} inv</span>
        <span class="hp-badge hp-attribute"
              ng-repeat="attr in node.attributes">
          {{attr.name}}
        </span>
      </treecontrol>
    </div>


  </md-content>
</div>

<script type="text/ng-template" id="invocations-tree-template.html">
  <ul>
    <li ng-repeat="node in node.children"
        ng-class="headClass(node)"
        set-node-to-data>

      <span ng-click="selectNodeHead(node)"
            class="hp-tree-handle"
            ng-show="!isLeaf(node)">
         <md-icon md-svg-icon="{{nodeExpanded() ? 'minus' : 'plus'}}"
                  class="small">
         </md-icon>
      </span>

      <md-icon md-svg-icon="empty-square"
               ng-show="isLeaf(node)"
               class="small">
      </md-icon>

      <div class="tree-label"
           ng-class="[selectedClass(), unselectableClass()]"
           ng-click="selectNodeLabel(node)" tree-transclude></div>
      <treeitem ng-if="nodeExpanded()"></treeitem>
    </li>
  </ul>
</script>