<md-dialog ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Call Details</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon md-svg-icon="close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="hp-monospaced">
    <md-list>
      <md-list-item class="md-2-line" >
        <div class="md-list-item-text">
          <span class="hp-details-label">Method signature</span>
          <span class="hp-small-font" ng-bind-html="invocation.methodSignatureHtml"></span>
          <md-divider></md-divider>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line" >
        <div class="md-list-item-text">
          <span class="hp-details-label">Total time / Own Time</span>
          <span class="hp-small-font">
            <span ng-bind="helperService.getSmartDuration(invocation.totalTimeInNs)"></span> /
            <span ng-bind="helperService.getSmartDuration(invocation.ownTimeInNs)"></span>
          </span>
          <md-divider></md-divider>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line" >
        <div class="md-list-item-text">
          <span class="hp-details-label">
            Total invocations
            <span ng-if="invocation.invocationsCount > 1"> / Avg. total time / Avg. own time</span>
          </span>
          <span class="hp-small-font">
            <span ng-bind="invocation.invocationsCount"></span>
            <span ng-if="invocation.invocationsCount > 1">
              / {{ helperService.getSmartDuration(invocation.totalTimeInNs / invocation.invocationsCount) }}
              / {{ helperService.getSmartDuration(invocation.ownTimeInNs / invocation.invocationsCount) }}
            </span>
          </span>
          <md-divider></md-divider>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-repeat="attribute in invocation.attributes">
        <div class="md-list-item-text">
          <span class="hp-details-label" ng-bind="attribute.name"></span>
          <span class="hp-small-font" ng-bind="attribute.details"></span>
          <md-divider></md-divider>
        </div>
      </md-list-item>
    </md-list>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="closeDialog()">Close Dialog</md-button>
  </md-dialog-actions>
</md-dialog>