@require '~vuetify/src/stylus/settings/_colors'

$theme := {
  primary: #afbab8
  accent: $red.accent-2
  secondary: $grey.lighten-1
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}

@require '~vuetify/src/stylus/settings/_theme'

$material-dark['app-bar'] = #2e3535
$material-dark['background'] = #202525
$material-dark['icons']['active'] = #89A19D

@require '~vuetify/src/stylus/main'

toolbar($material)
  .btn:not(.btn--disabled)
    color: #525555

theme(toolbar, "toolbar")

.application--dark {
  color: #89A19D;
}